---
import Docs from '../layouts/Docs.astro';
import SwaggerClient from "swagger-client";
import {Code} from "astro:components";
import type {CollectionEntry} from 'astro:content';
import ObjectProperty from "../components/ObjectProperty.astro";

type Props = CollectionEntry<'api'>['data'];

const {spec, target, jsRequest, curlRequest, response} = Astro.props;
const x = await import('../openapi/gmaps.json');
const {spec: data} = await SwaggerClient({ spec: x });
const parameters = data.paths["/maps/api/place/queryautocomplete/json"].get.parameters;
const responseSchema = data.paths["/maps/api/place/queryautocomplete/json"].get.responses["200"].content["application/json"].schema;
---

<Docs classNames="lg:w-4/5 justify-center">
    <div class="lg:w-1/3">
        <div class="prose prose-invert max-w-none">
            <slot/>
        </div>

        <div class="prose prose-invert max-w-none"><h1 class="my-8">Response</h1></div>
        <table>
            {
                Object.entries(responseSchema.properties).map(([key, value]) => (
                    <ObjectProperty key={key} value={value} required={responseSchema.required} topLevel={true}/>
                ))
            }
        </table>

        <div class="prose prose-invert max-w-none"><h1 class="my-16">Parameters</h1></div>
        <table>
            {
                parameters.map((x) => (
                    <ObjectProperty key={x.name} value={{...x, 'type': x.schema.type, 'default': x.schema.default, 'enum': x.schema.enum }} topLevel={true}/>
                ))
            }
        </table>
    </div>
    <div class="hidden lg:block flex flex-col pb-6 gap-6 w-1/4">
        <div class="rounded-xl ring-1 ring-gray-800/50">
            <div class="flex flex-wrap text-xs bg-black/40 leading-6">
                <input id="tab-sh" type="radio" name="tabs" class="peer/tab-sh opacity-0 absolute" checked />
                <label for="tab-sh"
                       class="cursor-pointer group flex items-center relative px-2 pt-2.5 pb-2 outline-none whitespace-nowrap font-medium peer-checked/tab-sh:border-b peer-checked/tab-sh:border-white peer-checked/tab-sh:cursor-default">
                    <div class="px-2">Shell</div>
                </label>
                <input id="tab-js" type="radio" name="tabs" class="peer/tab-js opacity-0 absolute" />
                <label for="tab-js"
                       class="cursor-pointer group flex items-center relative px-2 pt-2.5 pb-2 outline-none whitespace-nowrap font-medium peer-checked/tab-js:border-b peer-checked/tab-js:border-white peer-checked/tab-js:cursor-auto">
                    <div class="px-2">JavaScript</div>
                    <div class="invisible peer-checked/tab-js:visible pointer-events-none absolute inset-0 border-b border-white"></div>
                </label>
                <div class="flex-auto flex justify-end rounded-tr-lg items-center">
                    <div class="justify-end pr-4 rounded-tr">
                        <div class="flex group items-center gap-2">
                            <div class="text-gray-400 rounded-lg text-xs group-hover:visible invisible">
                                Copy
                            </div>
                            <button class="h-7 w-7 flex items-center justify-center rounded-md">
                                <svg class="fill-gray-700 group-hover:fill-gray-400" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 14.5H9C9.275 14.5 9.5 14.275 9.5 14V12H11V14C11 15.1031 10.1031 16 9 16H2C0.896875 16 0 15.1031 0 14V7C0 5.89687 0.896875 5 2 5H4V6.5H2C1.725 6.5 1.5 6.725 1.5 7V14C1.5 14.275 1.725 14.5 2 14.5ZM7 11C5.89687 11 5 10.1031 5 9V2C5 0.896875 5.89687 0 7 0H14C15.1031 0 16 0.896875 16 2V9C16 10.1031 15.1031 11 14 11H7Z"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="basis-full"><!-- new line --></div>
                <div class="bg-[#0F1117] shrink overflow-hidden hidden peer-checked/tab-sh:block text-gray-50 p-5 min-w-full overflow-x-auto text-xs leading-[1.35rem]">
                    <Code wrap={null} code={curlRequest} lang="sh" theme="css-variables"></Code>
                </div>
                <div class="bg-[#0F1117] shrink overflow-hidden hidden peer-checked/tab-js:block text-gray-50 p-5 min-w-full overflow-x-auto text-xs leading-[1.35rem]">
                    <Code wrap={null} code={jsRequest} lang="js" theme="css-variables" class="bg-[#0F1117] shrink overflow-hidden hidden peer-checked/tab-js:block text-gray-50 p-5 min-w-full overflow-x-auto text-xs leading-[1.35rem]"></Code>
                </div>
            </div>
        </div>
        <div class="rounded-xl ring-1 ring-gray-800/50">
            <div class="flex flex-wrap text-xs bg-black/40 leading-6">
                <label class="cursor-pointer group flex items-center relative px-2 pt-2.5 pb-2 outline-none whitespace-nowrap font-medium peer-checked/tab-sh:border-b peer-checked/tab-sh:border-white peer-checked/tab-sh:cursor-default">
                    <div class="px-2">Response</div>
                </label>
                <div class="flex-auto flex justify-end items-center pr-4 rounded-tr">
                    <div class="flex group items-center gap-2">
                        <div class="text-gray-400 rounded-lg text-xs group-hover:visible invisible">
                            Copy
                        </div>
                        <button class="h-7 w-7 flex items-center justify-center rounded-md">
                            <svg class="fill-gray-700 group-hover:fill-gray-400" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2 14.5H9C9.275 14.5 9.5 14.275 9.5 14V12H11V14C11 15.1031 10.1031 16 9 16H2C0.896875 16 0 15.1031 0 14V7C0 5.89687 0.896875 5 2 5H4V6.5H2C1.725 6.5 1.5 6.725 1.5 7V14C1.5 14.275 1.725 14.5 2 14.5ZM7 11C5.89687 11 5 10.1031 5 9V2C5 0.896875 5.89687 0 7 0H14C15.1031 0 16 0.896875 16 2V9C16 10.1031 15.1031 11 14 11H7Z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="basis-full"><!-- new line --></div>
                <div class="bg-[#0F1117] text-gray-50 p-5 min-w-full overflow-x-auto text-xs leading-[1.35rem]">
                    <Code code={response} lang="json" theme="css-variables" wrap={null}></Code>
                </div>
            </div>
        </div>
    </div>
</Docs>